<div class="mt-4 p-3   offset-3 col-md-6">

  <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://ca.slack-edge.com/T04PWUYFD-U029VTEN4HZ-ebc4361e32d6-512" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{firstname}} {{lastname}} </h5>
        <p class="card-text">
          <b>Email-id </b> {{email}} <br>
          <b>Mobile </b> {{mobile}} <br>
          <b>Address</b> {{address}} {{city}}, {{zip}} <br>
        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
</div>
